<div class="w-80 flex flex-col" >
  <%= f.label :name, "姓名"%>
  <%= f.text_field :name %>
</div>

<div class="w-80 flex flex-col">
  <%= f.label :age, "年齡" %>
  <%= f.text_field :age %>
</div>

<div class="w-80 flex flex-col">
  <%= f.label :party, "政黨" %>
  <%= f.text_field :party %>
</div>

<div class="w-80 flex flex-col">
  <%= f.label :politics, "政見"  %>
  <%= f.text_area :politics, class:"h-3/6" %>
</div>